.container
	position: relative

	box-sizing: border-box
	width: 100%
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px

	+r(1200)
		max-width: 990px
	+r(992)
		max-width: 750px
	+r(768)
		max-width: 570px
	+r(576)
		max-width: 100%

	
.row
	display: flex

	margin: 0 -15px
	
	&.row--vc
		-webkit-align-items: center
		align-items: center
	
.col
	flex-basis: 100%

	box-sizing: border-box
	padding: 0 15px
	
.hide-1200
	+r(1200)
		display: none !important

	
.hide-992
	+r(992)
		display: none !important

	
.hide-768
	+r(768)
		display: none !important

	
.hide-576
	+r(576)
		display: none !important

	
.show-1200
	display: none

	+r(1200)
		display: block

	
.show-992
	display: none	

	+r(992)
		display: block

	
.show-768
	display: none

	+r(768)
		display: block

	
.show-576
	display: none

	+r(576)
		display: block

	
.block-1200
	+r(1200)
		display: block !important

	
.block-992
	+r(992)
		display: block !important

	
.block-768
	+r(768)
		display: block !important

	
.block-576
	+r(576)
		display: block !important
