{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false
  },
  "rules": {
    "prettier/prettier": 2,
    "@typescript-eslint/no-var-requires": "off"
  }
}
