<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <meta property="og:image" content="path/to/image.jpg"> -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <meta name="theme-color" content="#FFF">
</head>
<body class="js-loading">
<style>.js-loading{opacity: 0;transition:none}body{transition:opacity .5s ease-in-out}</style>
<link rel="stylesheet" type="text/css" href="css/style.css" lazyload>
<script src="js/bundle.js" defer></script>
{% block content %}{% endblock %}
{% include './popups.html' %}
</body>
</html>
